.field{
    margin-top: 4ch;
    width: 100%;
    height: 500px;
    border: 2px solid #fff;
    border-radius: 1ch;
    display: flex;
}

.block-container-locked {
    width: 100px;
    height: 100px;
    background-color: white;
}